body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: cyan;
}

.block {
  width: 400px;
  height: 599px;
  padding: 20px;
  margin-bottom: 50px;
  margin: 90px auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}

#name {
  text-align: center;
}

#img {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}

#info {
  float: left;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

#paragr {
  text-align: left;
  margin-top: 15%;
  font-size: 20px;
}

#list {
  list-style: disc;
  margin-left: 10px;
  float: left;
  display: inline;
  padding-left: 0;
}

.navikUP {
  text-align: left;
  font-weight: bolder;
}

#navik {
  margin-bottom: 0;
}

#list {
  display: block;
}

#contact {
  margin-top: 90px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.ahref {
  padding-right: 35px;
  position: relative;
  font-size: 20px;
  color: blue;
}

.ahref:hover {
  text-decoration: underline;
}

#gmail {
  margin-right: 60px;
}

.btn {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 20px;
}

.btn:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  color: rgb(255, 255, 255);
}